<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ITPM Labs</display-name>
  <servlet>
    <description></description>
    <display-name>GetAliens</display-name>
    <servlet-name>GetAliens</servlet-name>
    <servlet-class>org.student.itpmlabs.GetAliens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAliens</servlet-name>
    <url-pattern>/getAliens</url-pattern>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>